Player1: Hudson, Teer, Lily
Player2: Wilson, Perkins, Grosshall
Player3: Fitzpatrick, Bostock, Oldchem
--
Hudson: Teer, Wilson
Teer: Hudson, Lily, Wilson, Fitzpatrick
Lily: Teer, Fitzpatrick, Bostock
Wilson: Hudson, Teer, Fitzpatrick, Perkins
Fitzpatrick: Teer, Lily, Bostock, Perkins, Wilson
Perkins: Wilson, Fitzpatrick, Bostock, Grosshall
Bostock: Lily, Fitzpatrick, Perkins, Grosshall, Oldchem
Oldchem: Grosshall, Bostock
Grosshall: Perkins, Bostock, Oldchem
